# Normalize EOL for all files that Git considers text files.
*.cs text eol=lf
*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.project text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
Assets/StreamingAssets/cereproc/voices_48k/cerevoice_Sarah_48k_standard.voice filter=lfs diff=lfs merge=lfs -text
*.gltf text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.xml text eol=lf
*.png binary
*.fbx binary
*.blend binary
*.dll binary
*.exe binary
*.so binary
*.sln text eol=lf
*.csproj text eol=lf